---
import "../styles/global.css";
---

<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>La Badia</title>
  </head>
  <body>
    <nav
      class="fixed top-0 z-10 w-full border-b border-white/30 px-4 py-4 backdrop-blur-xs lg:px-12 lg:py-8 xl:px-16 xl:py-12"
    >
      <ul
        class="hidden gap-16 text-sm font-light tracking-widest text-white uppercase lg:flex"
      >
        <li>
          <a href="#la-casa">La Casa</a>
        </li>
        <li>
          <a href="#apartaments">Apartaments</a>
        </li>
        <li>Activitats</li>
        <li>Galeria</li>
        <li>Contacte</li>
      </ul>

      <div class="flex lg:hidden">
        <button type="button" class="rounded-md p-2.5 text-white">
          <span class="sr-only">Open main menu</span>
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            data-slot="icon"
            aria-hidden="true"
            class="size-6"
          >
            <path
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </button>
      </div>
    </nav>

    <slot />
  </body>
</html>
